.App {
    background-image: linear-gradient(to bottom, var(--bkg-gradient-1), var(--bkg-gradient-2)),
            url('../assets/images/netflix-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
