* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --bkg-form-color: #0000005c;
    --white-color: #fff;
    --bkg-gradient-1: rgba(62, 64, 61, 0.62);
    --bkg-gradient-2: rgba(217, 229, 203, 0.10);
    --text-shadow: rgba(255, 252, 252, 0.36)
}
